@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}



body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: #2B2A33;
  overflow-y: hidden;
}

.status-label {
  padding: 2px 6px;
  border-radius: 3px;
}

.success {
  background-color: #4caf50;
  color: #fff;
}

.warning {
  background-color: #ffc107;
  color: #333;
}

.error {
  background-color: #f44336;
  color: #fff;
}

.unknown {
  background-color: #bdbdbd;
  color: #333;
}


table {
  border-collapse: collapse;
  width: 100%;
}
table th, table td {
  padding: 8px;
  text-align: left;
  border: none;
}
table th {
  background-color: #f2f2f2;
}
table .status-label {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
}
table .success {
  background-color: #4CAF50;
  color: white;
}
table .error {
  background-color: #f44336;
  color: white;
}
table .unknown {
  background-color: #ffeb3b;
  color: black;
}

input,
button,
select,
textarea {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.window {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100vh;
}

.window-header {
  background-color: #7141D5;
}

.navigation {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.navigation-top,
.navigation-bottom {
  display: flex;
  flex-direction: column;
}

.navigation-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 6px;
  color: #fff;
  transition: 0.15s ease;
  position: relative;
}
.navigation-item + * {
  margin-top: 0.5rem;
}
.navigation-item:hover, .navigation-item.active {
  background-color: #2b2a5b;
}
.navigation-item .avatar {
  max-width: 1.75rem;
  max-height: 1.75rem;
}
.navigation-item:hover .navigation-item-title {
  transform: scale(1);
  opacity: 1;
}
.navigation-item--notification::after {
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #3f5efb;
  border-radius: 50%;
  top: 8px;
  right: 8px;
}

.navigation-item-title {
  justify-self: flex-end;
  position: absolute;
  transform: scale(0);
  transform-origin: 0% 50%;
  left: calc(100% + 0.75rem);
  opacity: 0;
  transition: 0.15s ease;
  width: auto;
  z-index: 300;
  background-color: #6A41CF;
  display: block;
  white-space: nowrap;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.navigation-item-title:before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #2b2a5b;
  transform: translateY(-50%) rotate(45deg);
  left: -5px;
  top: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.window-main-header {
  border-bottom: 1px solid #ddd;
  background-color: #2B2A33;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 2rem;
}

.window-main-body {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: calc(100vh - 62px);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-right: 0.375rem;
  display: inline-flex;
  align-items: center;
}
.breadcrumbs-item:not(:last-child):after {
  margin-left: 0.375rem;
  content: "";
  display: inline-flex;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 6L15 12L9 18' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 1.5rem;
  height: 1em;
}
.breadcrumbs-item a {
  color: #E85F8F;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.breadcrumbs-item a svg {
  width: 1rem;
  margin-right: 0.375rem;
  color: #8015cb;
}

.editor {
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100%;
  overflow-y: auto;
  background-color: #2B2A33;
}

.editor-input-group {
  display: flex;
  flex-direction: column;
}
.editor-input-group + * {
  margin-top: 1.5rem;
}

.editor-input-label {
  font-weight: 600;
}


.editor-textarea {
  margin-top: -1px;
  border: 1px solid #d0d0d0;
  padding: 0.75em;
  background-color: #2B2A33;
}

.editor-toolbar {
  background-color: #2B2A33;
  border: 1px solid #ddd;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  top: calc(-3rem - 1px);
  position: sticky;
  z-index: 200;
  align-items: center;
}

.editor-toolbar-item {
  background-color: transparent;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: 0.15s ease;
}
.editor-toolbar-item.icon {
  width: 2rem;
  height: 2rem;
}
.editor-toolbar-item.dropdown {
  min-width: 150px;
  justify-content: space-between;
  height: 2rem;
}
.editor-toolbar-item svg {
  width: 1.25rem;
  height: 1.25rem;
}
.editor-toolbar-item:hover {
  background-color: #ededed;
}

h1, li, h2, label, a, span {
  color: white;
}

.separator {
  height: 1rem;
  width: 2px;
  background-color: #DDD;
  display: block;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.editor-textarea {
  background-color: #2d2c35;
  min-height: 75vh;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}

.editor-textarea-editable {
  padding: 3em 0;
  padding-left: 5vw;
  padding-right: 5vw;
  line-height: 1.65;
}
.editor-textarea-editable > * + * {
  margin-top: 1em;
}
.editor-textarea-editable h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}
.editor-textarea-editable h2 {
  font-weight: 500;
  line-height: 1.375;
  font-size: 1.5rem;
}
.editor-textarea-editable ul {
  list-style: square;
  margin-left: 40px;
}
.editor-textarea-editable ul li + li {
  margin-top: 0.5em;
}
.editor-textarea-editable em {
  font-style: italic;
}
.editor-textarea-editable strong {
  font-weight: 600;
}
.editor-textarea-editable img {
  max-width: 50%;
  float: left;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: 0.15s ease;
  cursor: pointer;
}
.editor-textarea-editable img:hover {
  box-shadow: 0 0 0 4px #3f5efb;
}
.editor-textarea-editable a {
  color: #3f5efb;
  text-decoration: none;
  box-shadow: 0 2px 0 0 currentcolor;
  font-weight: 600;
}
.editor-textarea-editable .leading {
  font-size: 1.25rem;
  font-weight: 500;
  color: #565656;
}

.window-panel {
  background-color: #23236c;
  padding: 2rem;
  position: relative;
  overflow-y: auto;
}
.window-panel::-webkit-scrollbar {
  width: 15px;
  background-color: #19194a;
}
.window-panel::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 99em;
  background-color: #535377;
  border: 5px solid #19194a;
}
.window-panel:after {
  content: "";
  width: calc(100% + 4rem);
  height: 50px;
  margin-left: -2rem;
  bottom: -2rem;
  background-image: linear-gradient(to top, #19194a 0%, transparent 100%);
  display: block;
  position: sticky;
  z-index: 100;
}

.window-main-body-right {
  background-color:#2B2A33;
  border-left: 1px solid #ddd;
  overflow-y: auto;
  padding-bottom: 3rem;
}
.window-main-body-right::-webkit-scrollbar {
  width: 15px;
  background-color:#2B2A33;
}
.window-main-body-right::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 99em;
  background-color: #cdcdcd;
  border: 5px solid #fff;
}

.settings-section {
  padding: 1.5rem;
  background-color: #2B2A33;
}
.settings-section + * {
  border-top: 1px solid #4FBBF8;
}

.section-title {
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.window-panel .section-title {
  color: #8c8ca5;
}

.search {
  margin-bottom: 1.5rem;
}

.search-input {
  border: 0;
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid #535377;
  padding: 0.5em 0;
  padding-left: 1.75rem;
  font-size: 0.875rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' display='block' id='Search'%3E%3Cpath d='M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.search-input::placeholder {
  color: #8c8ca5;
}
.search-input:focus {
  border-color: #fff;
}

.tree {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 1rem;
  position: relative;
}
.tree:before {
  display: block;
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 2em);
  background-color: #535377;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.tree--sub:after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 1rem;
  background-color: #535377;
  top: 1.25em;
  left: -1rem;
}

.tree-branch-action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tree-branch-action button {
  opacity: 0;
  transition: 0.15s ease;
  background-color: #E85F8F;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  width: 1rem;
  height: 1rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0.5rem;
}
.tree-branch-action button:hover {
  background-color: #E85F8F;
  color: #19194a;
}
.tree-branch-action:hover button {
  opacity: 1;
}

.tree-branch-link {
  color: inherit;
  color: #c6c6d2;
  text-decoration: none;
  position: relative;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: 0.15s ease;
}
.tree-branch-link:before {
  position: absolute;
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #19194a;
  border: 2px solid #535377;
  top: 1em;
  left: calc(-1rem - 4px);
  z-index: 1;
  transition: 0.15s ease;
  transform-origin: 50% 50%;
}
.tree-branch-link.active, .tree-branch-link:hover {
  color: #fff;
}
.tree-branch-link.active:before, .tree-branch-link:hover:before {
  border-color: #fff;
  transform: scale(1.25);
}
.tree-branch-link--404:before {
  border-radius: 0;
  transform: rotate(45deg);
}
.tree-branch-link--404:hover:before {
  transform: scale(1.25) rotate(45deg);
}
.tree-branch-link.active {
  font-weight: 500;
}
.tree-branch-link.active:before {
  background-color:#2B2A33;
}

.publish-actions {
  display: flex;
  align-items: center;
}

.publish-info {
  font-size: 0.75rem;
  color: #666;
  line-height: 1.25;
  margin-right: 1.25rem;
  text-align: center;
}

.button {
  display: inline-flex;
  align-items: center;
  border: 0;
  padding: 0.375em 0.75em;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid;
  margin-right: 0.5rem;
  transition: 0.25s ease;
  font-weight: 500;
}
.button svg {
  margin-right: 0.375em;
  width: 1.25em;
  height: 1.25em;
}
.button--save {
  background-color: #e0e4fa;
  color: #2f47be;
}
.button--save:hover {
  color: #e0e4fa;
  background-color: #3e5ae7;
}
.button--schedule {
  background-color: #ece0fa;
  color: #722fbe;
}
.button--schedule:hover {
  color: #ece0fa;
  background-color: #a155f7;
}
.button--publish {
  background-color: #8ae2b6;
  color: #22744b;
}
.button--publish:hover {
  color: #8ae2b6;
  background-color: #22744b;
}
.button--delete {
  background-color: #fdc8bf;
  color: #bd1717;
}
.button--delete:hover {
  color: #fdc8bf;
  background-color: #bd1717;
}

.input-group {
  display: flex;
  flex-direction: column;
}
.input-group + * {
  margin-top: 1.5rem;
}

.input-label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.input-field {
  padding: 0.375em 0.5em;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  transition: 0.15s ease;
}
.input-field:hover {
  border-color: #3f5efb;
}
.input-field--textarea {
  min-height: 9em;
  max-width: 100%;
  min-width: 100%;
  resize: none;
}
.input-field--textarea::-webkit-scrollbar {
  width: 15px;
  background-color:#2B2A33;
}
.input-field--textarea::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 99em;
  background-color: #cdcdcd;
  border: 5px solid #fff;
}

.input-url {
  color: #3f5efb;
  font-size: 0.875rem;
}

.input-image {
  padding: 0;
  border: 1px solid #ddd;
  background-color:#2B2A33;
  border-radius: 0 0 4px 4px;
  border-bottom-width: 2px;
  cursor: pointer;
  transition: 0.15s ease;
}
.input-image:hover {
  border-color: #3f5efb;
}

.input-image-wrapper {
  width: calc(100% + 2px);
  margin-top: -1px;
  margin-left: -1px;
  overflow: hidden;
  display: block;
}

.input-image-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.input-image-meta-title {
  font-weight: 500;
  font-size: 0.875rem;
}

.input-image-meta-action {
  color: #3f5efb;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.input-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.input-checkbox + * {
  margin-top: 0.75rem;
}

.input-checkbox-box {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.input-checkbox-box:checked + .input-checkbox-toggle {
  background-color: #3f5efb;
  border-color: #3f5efb;
}
.input-checkbox-box:checked + .input-checkbox-toggle:after {
  background-color:#2B2A33;
  transform: translateX(100%);
}

.input-checkbox-toggle {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
  border-radius: 99em;
  border: 1px solid #999;
  margin-right: 0.375rem;
}
.input-checkbox-toggle:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999;
}

:focus {
  outline: 0;
}

#loading-spinner {
  display: none;
}


.loading-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  transform-origin: 50% 50%;
	animation: scale var(--timeline) var(--delay) infinite linear;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	transform-style: preserve-3d;
}

:root {
	--size: 40;
	--coefficient: 1px;
	--timeline: 4s;
	--delay: 1s;
  --rotation-y: -24;
  --rotation-x: 28;
  --color-one: #3a0ca3;
  --color-two: #4361ee;
  --color-three: #4cc9f0;
}

.scene {
  position: relative;
  transform: translate3d(43%, 0, 100vmin) rotateX(calc(var(--rotation-y, 0) * 1deg)) rotateY(calc(var(--rotation-x, 0) * 1deg)) rotateX(0deg);
}

@keyframes scale {
  0%, 10% {
    transform: scaleX(1) scaleY(1);
  }
	35%, 100% {
		transform: scaleX(0.5) scaleY(0.5);
	}
}

.shadow {
	width: calc(var(--size) * var(--coefficient));
	position: absolute;
	bottom: 0;
	aspect-ratio: 1;
	transform-origin: 50% 50%;
	background: hsl(210 80% 50% / 0.2);
	transform: rotateX(90deg) translate3d(0, 0, calc((var(--size) * (var(--coefficient) * -0.5)) - 1px)) scale(0.96);
	animation: squish-squosh var(--timeline) var(--delay) infinite, fade var(--timeline) var(--delay) infinite;
	background: black;
}

.loader {
	--depth: var(--size);
	--color: var(--color-one, #8338EC);
	width: calc(var(--depth) * var(--coefficient));
	aspect-ratio: 1;
	transform-origin: 50% 50%;
	animation: squish-squosh var(--timeline) var(--delay) infinite;
}

.spinner {
	animation: spin var(--timeline) var(--delay) infinite;
}

.jumper {
	animation: jump var(--timeline) var(--delay) infinite;
}

@keyframes squish-squosh {
	0%, 50%, 60% {
		scale:  1 1 1;
	}
	10%, 35% {
		scale: 1.2 0.8 1.2;
	}
	25% {
		scale: 0.8 1.2 0.8;
	}
	70% {
		scale: 1 1 2;
	}
	80% {
		scale: 2 1 2;
	}
	90%, 100% {
		scale: 2 2 2;
	}
}


@keyframes fade {
	0%, 10%, 40%, 50%, 60%, 100% {
		opacity: 1;
	}
	25% {
		opacity: 0.5;
	}
}

@keyframes spin {
	0%, 10% { rotate: 0deg; }
	30%, 100% { rotate: -360deg; }
}
@keyframes jump {
	0%, 10%, 35%, 50% {
		translate: 0 0;
	}
	25% {
		translate: 0 -150%;
	}
}

/* Cuboid boilerplate code */
.cuboid {
  width: 100%;
  height: 100%;
  position: relative;
}
.cuboid__side {
  background: var(--color);
  position: absolute;
}
.cuboid__side:nth-of-type(1) {
  --b: 1.1;
  height: calc(var(--depth, 20) * var(--coefficient));
  width: 100%;
  top: 0;
  transform: translate(0, -50%) rotateX(90deg);
}
.cuboid__side:nth-of-type(2) {
  --b: 0.9;
  --color: var(--color-three, #FF006E);
  height: 100%;
  width: calc(var(--depth, 20) * var(--coefficient));
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotateY(90deg);
}
.cuboid__side:nth-of-type(3) {
  --b: 1;
  width: 100%;
  height: calc(var(--depth, 20) * var(--coefficient));
  bottom: 0;
  transform: translate(0%, 50%) rotateX(90deg);
}
.cuboid__side:nth-of-type(4) {
  --b: 1;
  --color: var(--color-three, #FF006E);
  height: 100%;
  width: calc(var(--depth, 20) * var(--coefficient));
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(90deg);
}
.cuboid__side:nth-of-type(5) {
  --b: 1;
  --color: var(--color-two, #3A86EF);
  height: 100%;
  width: 100%;
  transform: translate3d(0, 0, calc(var(--depth, 20) * (var(--coefficient) * 0.5)));
  top: 0;
  left: 0;
}
.cuboid__side:nth-of-type(6) {
  --b: 1.2;
  height: 100%;
  width: 100%;
  transform: translate3d(0, 0, calc(var(--depth, 20) * (var(--coefficient) * -0.5))) rotateY(180deg);
  top: 0;
  left: 0;
}